node_modules
/.temp
/.vscode
/scripts/*
!build.bat
!mklink.bat
!start.bat
!.conf
!clean.bat
/dst
/src/.depend
/src/pi_pt
/src/pi
*.c.ts
*.s.ts
*.p.ts
!/src/earn/server/cfg/server.c.ts
/package-lock.json
/src/app
/src/earn/xlsx/*.rs
/src/earn/client/app/xls/*.rs
/src/earn/client/app/xls/*.s.ts
