node_modules
/.temp
/.vscode
/scripts/*
!build.bat
!mklink.bat
!start.bat
!.conf
!clean.bat
/dst
/src/.depend
/src/pi_pt
/src/pi
src/server/rpc/*.c.ts
src/server/rpc/*.s.ts
src/server/data/db/*.s.ts
src/server/data/rpc/*.s.ts
src/server/data/rpc/*.c.ts
src/server/tests/*.s.ts
*.p.ts
