@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
@keyframes openBox{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25%{
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    50%{
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    75%{
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    100%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
}

/*由小变大出现*/
@keyframes smallToBig{
  0%{
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.smallToBig{
  animation: smallToBig 0.3s ease;
}


.isOpenbox{
  animation: openBox 0.3s ease infinite;
}


.mine-animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.grayscale{ 
  filter: grayscale(100%);
  filter: gray;
  
}


@keyframes hoeMining{
  0%{
    transform: rotateZ(45deg);
  }
  
  100%{
    transform: rotateZ(-45deg);
  }
}

.animated-hoeMining {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hoeMining;
    animation-name: hoeMining;
}