@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
@keyframes openBox{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25%{
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    50%{
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    75%{
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    100%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
}

/*由小变大出现*/
@keyframes smallToBig{
  0%{
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*由浅变深出现*/
@keyframes fadein{
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}


/*光芒闪耀*/
@keyframes sunShine{
  0%{
    -webkit-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2);
  }
  25%{
    -webkit-transform: rotate(90deg) scale(1.2);
    transform: rotate(90deg) scale(1.2);
  }
  50%{
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  75%{
    -webkit-transform: rotate(270deg) scale(1.3);
    transform: rotate(270deg) scale(1.3);
  }
  100%{
    -webkit-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes downToTop{
  0%{
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
  }
  25%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  75%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100%{
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
}
/*宽度渐变出现*/
@keyframes gradually-width{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.smallToBig{
  animation: smallToBig 0.5s ease;
}
.sunShine{
  animation: sunShine 20s linear infinite;
}
.fadein{
  animation: fadein 0.5s ease;
}
.isOpenbox{
  animation: openBox 0.3s ease infinite;
}
.down-to-top{
  animation: downToTop 5s ease infinite;
}
.gradually-width{
  animation: gradually-width 2s ease-out;
}

.mine-animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.grayscale{ 
  filter: grayscale(100%);
  filter: gray;
  
}


@keyframes hoeMining{
  0%{
    transform: rotateZ(45deg);
  }
  
  100%{
    transform: rotateZ(-45deg);
  }
}

.animated-hoeMining {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hoeMining;
    animation-name: hoeMining;
}